@page
@model IndexModel
@{
    ViewData["Title"] = "Employee Management System";
}

<div class="text-center">
    <h1 class="display-10">Welcome Employee Management System!</h1>
</div>

<div class="text-body text-center">
    <h5> Please choose an item from the navigation bar at the top</h5>
</div>